@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
    


:root {
    --cor0: #3050FF;
    --cor1: #3098FF;
    --cor2: #C1333C;
    --cor3: #F0D53F;
    --cor4: #F4EA4A;
    --cor5: #6e1f24;
    
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Pirata One', Serif;
    --fonte-arima: 'Arima', Serif;   
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5) );
    min-height: 100px;
    padding: 10px;
    text-align: center;
    font-family: var(--fonte-destaque);
    
}

header  h1 {
    color: var(--cor3);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px #0000006c;
}

header p {
    color: var(--cor3);
    font-size: 1.2em;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    padding: 10px;
    text-shadow:  2px 2px 0px rgba(0, 0, 0, 0.411);

}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 10px 10px #00000049;
}

nav a {
    text-decoration: none;
    color: var(--cor4);
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    
}

nav a:hover {
    text-decoration: underline;
    background-color: var(--cor1);
}

main {
    background-color: white;
    padding: 20px;
    margin: 0px 80px 0px 80px ;
    border-radius: 0px 0px 10px 10px ;

}

main h1 {
    color: #3098FF;
    font-family: var(--fonte-destaque);
    font-size: 2em;
    
}

main h2 {
    color: var(--cor5);
    font-family: var(--fonte-destaque);
    font-size: 1.7em;
    padding-top: 20px;
    padding-bottom: 20px;
}

main h3 {
    color: var(--cor0);
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    
}


main p {
    font-family: var(--fonte-arima);
    font-size: 1.1em;
    text-indent: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.haki1 {
    margin-top: 10px;
    margin-bottom: 10px;

}

.imagens {
    margin: auto;
    display: block;
    width: 50%;
}


div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57.5%;
    position: relative;
}


div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    background-color: #3050FF;
    padding: 20px;
    margin-top: 50px;
}


footer p {
    text-align: center;
    font-weight: bolder;
    color: #F4EA4A;
    
}

footer a {
    text-decoration: none;
    
}

footer a:hover {
    color: #3098FF;
    text-decoration: underline;
    background-color: #F4EA4A;
}




